.dialogs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  &_messages {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  &_list {
    max-width: 300px;
  }
}

.enterMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  color: white;
}

.active {
  color: gold;
}

.messages {


  &_list {
    display: flex;
    padding-top: 20px;

    a {
      text-align: left;
    }
  }
}



